<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="#" th:action="@{/addNewsLetter}" method="post" th:object = "${ed}">
id
 <input type="number" id="id" th:field="*{id}" />
Subject
 <input type="text" id="emailSubject" th:field="*{emailSubject}" />
 Message
 <input type="text" id="emailMessage" th:field="*{emailMessage}" />
 Date
 <input type="date" id="emailDate" value="2020-04-12"
       min="2020-01-01" max="2020-12-31"th:field="*{emailDate}"/>

 
 <button type="submit" name="action" value="emailForm">Add</button>

</form>
</body>
</html>