<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head>
  
  <style>
body {
  background-image: url('back2.png');
  

}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  color: white;
  font-size: 20px;
}
form{
text-align: center;
}
.in{
font-size: 15px;
width:200px;
padding: 15px 15px 15px;
}
  </style>
  
  <meta charset="UTF-8">
  <title>Unicorn's newsletters</title>

  
</head><body>
<h1><span style="color: black;">Aktuális hírfolyam:</span><span style="color: rgb(19, 0, 0);"><br>
</span></h1>

<ol>

  <li th:each="letter : ${letters}"> <span th:text="${letter.id}"></span>
Tárgy: <span th:text="${letter.emailSubject}"></span> Üzenet: <span th:text="${letter.emailMessage}"></span> Dátum: <span th:text="${#dates.format(letter.emailDate, 'yyyy-MM-dd')}"></span> <a th:href="@{delete(id=${letter.id})}">Törlés</a> <a th:href="@{update(id=${letter.id}, emailSubject=${letter.emailSubject}, emailMessage=${letter.EmailMessage}, emailDate=${#dates.format(letter.emailDate, 'yyyy-MM-dd')})}">Módosítás</a>
  </li>
</ol>

<div style="text-align: center;"> <a href="/">Vissza a kezdőoldalra</a></div>
<p> </p>

</body></html>