 <!DOCTYPE html>



<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
body {
  background-color: #9e5978;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  color: white;
  font-size: 20px;
}
form{
text-align: center;
}
.in{
font-size: 15px;
width:200px;
padding: 15px 15px 15px;
}
</style>
<meta charset="UTF-8">
<title>Unicorn's newsletters</title>

</head>
<body>
<p text-align="center">Ez az app az unikornisok által írt hírlevelek listázására, azok módosítsára és törlésére szolgál.</p>

<ol>
        <li th:each="letter : ${letters}" >
        <span th:text="${letter.id}"></span> Tárgy:
        <span th:text="${letter.emailSubject}"></span> Üzenet:
		<span th:text="${letter.emailMessage}"></span> Dátum:
		<span th:text="${#dates.format(letter.emailDate, 'yyyy-MM-dd')}"></span>
		
		<a th:href="@{delete(id=${letter.id})}">Törlés</a>
		<a th:href="@{update(id=${letter.id}, emailSubject=${letter.emailSubject}, emailMessage=${letter.EmailMessage}, emailDate=${#dates.format(letter.emailDate, 'yyyy-MM-dd')})}">Módosítás</a>
	
    </ol>
    
 <p>
 <a href="/">Kezdőoldal</a>
 </p>
</body>
</html>
