<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head>
  
  <style>
body {
  background-color: #a6ded5;

}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  color: white;
  font-size: 20px;
}
form{
text-align: center;
}
.in{
font-size: 15px;
width:200px;
padding: 15px 15px 15px;
}
.mytable{
align="center" width="300" height="30"
}
  </style>
  
  <meta charset="UTF-8">
  <title>Unicorn's newsletters</title>

  
</head><body>
<h1><span style="color: black;">Aktuális hírfolyam:</span><span style="color: rgb(19, 0, 0);"><br>
</span></h1>

<table border="2" style="width:100%">
<tr>
	<th align="center" width="300" height="30">ID: </th>
	<th align="center" width="200" height="30">Tárgy: </th>
	<th align="center" width="200" height="30">Üzenet: </th>
	<th align="center" width="200" height="30">Dátum: </th>
	<th align="center" width="100" height="30">Törlés </th>
	<th align="center" width="100" height="30">Módosítás </th>
</tr>
<table border="2" style="width:100%" th:each="letter : ${letters}">
<tr>
<td  align="center" width="300" height="30"> <span th:text="${letter.id}"></td>
<td  align="center" width="200" height="30"> <span th:text="${letter.emailSubject}"></td>
<td  align="center" width="200" height="30"> <span th:text="${letter.emailMessage}"> </td>
<td  align="center" width="200" height="30"> <span th:text="${#dates.format(letter.emailDate, 'yyyy-MM-dd')}"></td>
<td  align="center" width="100" height="30"> <a th:href="@{delete(id=${letter.id})}">Törlés</a> </td>
<td  align="center" width="100" height="30"> <a th:href="@{update(id=${letter.id}, emailSubject=${letter.emailSubject}, emailMessage=${letter.EmailMessage}, emailDate=${#dates.format(letter.emailDate, 'yyyy-MM-dd')})}">Módosítás</a></td>
</tr>
</table>

<br><div style="text-align: center;"> <a href="/">Vissza a kezdőoldalra</a></div>
<p> </p>

</body></html>