<!DOCTYPE HTML >
<html xmlns:th="http://www.thymeleaf.org"><head>
<meta charset="UTF-8">
<style>
body {
  background-color:#baa1bf;
}
</style></head><body>

<center>

<h1>Hírlevél management felület

</h1></center>
<h1><br>
<span style="text-decoration: underline;"></span></h1>
<h1><span style="text-decoration: underline;">Válassz az alábbi lehetőségek közül:</span><br>
</h1>

<ul>
  <li>
    <h1><a href="addNewsLetter">Új hírlevél felvitele</a></h1>

  </li>
  <li>
    <h1><a href="emailList">Hírlevelek listázása</a></h1>
  </li>
</ul>


</body></html>