<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Update Newsletter</title>
</head>
<body>
<form action="#" th:action="@{/update}" method="post" th:object = "${ed}">
id
 <input type="number" id="id" th:field="*{id}"/>
Subject
 <input type="text" id="emailSubject" th:field="*{emailSubject}" />
 Message
 <input type="text" id="emailMessage" th:field="*{emailMessage}" />
 Date
 <input type="date" id="emailDate" name="emailDate"
        th:value="${#dates.format(emailDate, 'yyyy-MM-dd')}"/>
       
 <button type="submit" name="action" >Save</button>
 
 <p>
 <a href="/">Kezdőoldal</a>
 </p>

</form>
</body>
</html>


